# ignore all
*

# unignore all with extensions
!*.*

# unignore all dirs
!*/

# unignore Dockerfile and other useful files without extension
!**/Dockerfile
!**/.dockerignore
!**/.gitattributes
!**/LICENSE

### above combination will ignore all files without extension

.DS_Store
.vscode/
.idea/
coverage*
*.exe
build/
